{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service-list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'wisdom/service-list.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"><img src="{% static 'wisdom/img/wisdomstraight.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'initiative_service_list' 'health' %}">Health <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{% url 'initiative_service_list' 'social-service' %}">Social-service <span class="sr-only"></span></a>
            <a class="nav-item nav-link active" href="{% url 'initiative_service_list' 'education' %}">Education <span class="sr-only"></span></a>
            <a class="nav-item nav-link active" href="{% url 'initiative_service_list' 'infrastructure' %}">Infrastructure <span class="sr-only"></span></a>
        </div>
    </div>
</nav>

<div class="section-1">
    <h3>Initiatives</h3>
    <div>
    {% for i in service_list %}
        <a href="{% url 'service_details' i.service.slug %}">
        <div class="item">
            <div class="desc">
                <h5>{{ i.service.name }}</h5>
            </div>
            <img class="back-img" src="{% static 'wisdom/img/card.png' %}" alt="">
            <img class="main-img" src="{{ i.images.0.image.url }}"  alt="">
        </div>
        </a>
    {% endfor %}
    </div>
</div>
<div class="section-4">
    <div class="footer">
        <div class="colomn-1">
            <h5>About us</h5>
            <ul>
                <p>Be Involved and Contribute your time for a better tomorrow.</p>
                <li>contact@ritu18.com</li>
                <li>Call us: +91 9445467323</li>
            </ul>
        </div>
        <div class="colomn-2">
            <h5>NewsRoom</h5>
            <ul>
                <li>Press Release</li>
                <li>Official Statements</li>
                <li>Blog and News</li>
                <li>Features</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


